name: ci

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install controller
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e controller

      - name: Install tests
        run: |
          python -m pip install -e tests

      - name: Run conformance tests
        run: |
          pytest -q
